<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TWeibullMarkovLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TWeibullMarkovLibrary.Properties.Settings>
            <setting name="XSDFile" serializeAs="String">
                <value>GCWeibullMarkovModel.xsd</value>
            </setting>
            <setting name="XMLComment" serializeAs="String">
                <value>Created with TWeibullMarkov package (c) Gurenich Consulting, 2012-2013</value>
            </setting>
            <setting name="log4netDir" serializeAs="String">
                <value>C:\SVN_Sandbox\Weibull-Markov\logs\TWeibullMarkov.log</value>
            </setting>
        </TWeibullMarkovLibrary.Properties.Settings>
    </applicationSettings>
</configuration>